<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				<strong>Staff Development Platform by AB Credit. </strong><br/>
				This website is designed by V for Vendetta Inc.
			</p>
			<p>
			</p>
		</div>
	</div>
</footer>