<model-themer>
        
    <!-- Header -->
    <header class="hero is-fullheight is-info">
    	<div class="hero-body">
    		<div class="container has-text-centered">
    			<h1 class="title is-1">Dramatically Engage</h1>
    			<p class="subtitle">Objectively innovate empowered manufactured products whereas parallel platforms.</p>
    			<a href="#login" class="button is-info is-large">Login</a> 
    		</div>
    	</div>
    </header>
    
    <!-- Content 1 -->
    <section class="hero">
    	<div class="hero-body">
            <div class="container">
            	<div class="columns is-vcentered">
            		<div class="column is-half ">
            			<figure class="image "><img src="microphone.jpg" alt=""></figure>
            		</div>
            		<div class="column is-half ">
            			<h1 class="title is-1">Best in Class</h1>
            			<h2 class="subtitle">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</h2>
            			<a href="#" class="button is-large is-primary"><strong>Classify It</strong></a> 
            		</div>
            	</div>
            </div>
        </div>
    </section>
    
    <!-- Content 2 -->
    <section class="hero is-dark">
    	<div class="hero-body">
        	<div class="container">
        		<div class="columns is-vcentered">
        			<div class="column is-half ">
        				<h1 class="title is-1">Superior Quality</h1>
        				<h2 class="subtitle">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</h2>
        				<a href="#" class="button is-large"><strong>Classify It</strong></a> 
        			</div>
        			<div class="column is-half ">
        				<figure class="image "><img src="iphone.jpg" alt=""></figure>
        			</div>
        		</div>
        	</div>
    	</div>
    </section>
    
    <!-- Content 3 -->
    <section class="hero is-info">
    	<div class="hero-body">
            <div class="container">
            	<div class="columns is-vcentered">
            		<div class="column is-half ">
            			<figure class="image "><img src="microphone.jpg" alt=""></figure>
            		</div>
            		<div class="column is-half ">
            			<h1 class="title is-1">Sanity Check</h1>
            			<h2 class="subtitle">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</h2>
            			<a href="#" class="button is-large is-warning"><strong>Classify It</strong></a> 
            		</div>
            	</div>
            </div>
        </div>
    </section>
    
    <!-- Promos -->
    <div class="columns is-gapless is-vcentered">
    	<div class="column is-one-third promo-item item-1">
    		<h3 class="title"> Unleash </h3>
    	</div>
    	<div class="column is-one-third promo-item item-2">
        	<h3 class="title"> Synergize </h3>
    	</div>
    	<div class="column is-one-third promo-item item-3">
    		<h3 class="title"> Procrastinate </h3>
    	</div>
    </div>
    
    
    <section class="hero">
    	<div class="hero-body">
        </div>
    </section>
    
    
    <!-- Footer -->
    <footer class="page-footer">
    
    	<!-- Contact Us -->
        <div class="contact">
        	<div class="container">
    			<h2 class="section-heading">Contact Us</h2>
    			<p><span class="glyphicon glyphicon-earphone"></span><br> +1(23) 456 7890</p>
    			<p><span class="glyphicon glyphicon-envelope"></span><br> info@example.com</p>
        	</div>
        </div>
        	
        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p>Copyright &copy; Example.com 2015</p>
        	</div>
        </div>
        
    </footer>
    

</model-themer>

<style><%- render (src (__file + 'style.css')) %></style>