<model-themer>
    
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                
                <h1 class="title is-1">Log in.</h1>
                
                <model-loginner />
                
                <section class="section"></section>
                
                <button class="button is-large is-info" type="submit" name="login">
                    Login
                </button>
                <button class="button is-large"  type="submit" name="register">
                    Register
                </button>
            </div>
        </div>
    </section>
</model-themer>

<script>(function (self) {
    remembers ({
        username: undefined,
        password: undefined
    }) (self);
    
    self .on ('mount', function () {
        var login = self .root .querySelector ('button[name="login"]');
        var register = self .root .querySelector ('button[name="register"]');
        
        login .addEventListener ('click', function () {
            self .stuff .trigger ('login', {
                username: self .recalls ('username'),
                password: self .recalls ('password')
            });
            self .stuff .one ('login', function (response) {
                if (! response .error) {
                    window .location .hash = '#service'
                }
            });
        });
        register .addEventListener ('click', function () {
            self .stuff .trigger ('register', {
                username: self .recalls ('username'),
                password: self .recalls ('password')
            });
            self .stuff .one ('register', function (response) {
                if (! response .error) {
                    alert ('Successfully registered!');
                }
            });
        });
    });
    
})(this);</script>
