<aside class="menu">
    <p class="menu-label"> General </p>
    <ul class="menu-list">
        <li><a href="#service/participant">Participant</a></li>
        <li><a href="#service/instructor">Instructor</a></li>
    </ul>
    <p class="menu-label"> Administration </p>
    <ul class="menu-list">
        <li> <a href="#service/administrator">Manage Your Team</a>
        </li>
    </ul>
    <p class="menu-label"> User </p>
    <ul class="menu-list">
        <li><a href="#home">Home</a></li>
        <li><a href="#service">Services</a></li>
    </ul>
</aside>