<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="#home">
            AB Credit
        </a>
    </div>
    
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>
    
    <div class="nav-right nav-menu">
        <a class="nav-item" href="#">
            Participant
        </a>
        <a class="nav-item" href="#">
            Instructor
        </a>
        <a class="nav-item" href="#">
            Administrator
        </a>
        
        <span class="nav-item">
            <a class="button" <%- ref ('logout') %>>
                <span class="icon">
                    <i class="fa fa-sign-out"></i>
                </span>
                <span>Logout</span>
            </a>
        </span>
    </div>
</nav>

<style>
    <%- tag %> nav {
        background-color: <%- company_color %>;
    }
    <%- tag %> nav .nav-item:not(:hover) {
        color: white !important;
    }
</style>

<script>
(function (self) {
	connects ({
		logout: each_ref ('logout')
	}) (self);
	self .on ('logout',  function (logout) {
        most .fromEvent ('click', logout)
            .thru (util .logout)
            .observe (function () {
                window .location .hash = '#home';
            });
	});
})(this);
</script>