<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="#home">
            AB Credit
        </a>
    </div>
    
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>
    
    <div class="nav-right nav-menu">
        
        <span class="nav-item">
            <a class="button" onclick={ aasdf }>
                <span class="icon">
                    <i class="fa fa-sign-out"></i>
                </span>
                <span>Logout</span>
            </a>
        </span>
    </div>
</nav>

<style>
    <%- tag %> nav.nav {
        background-color: <%- company_color %>;
    }
    <%- tag %> nav.nav .nav-item:not(:hover) {
        color: white;
    }
</style>

<script>
	aasdf (){
        most .just ()
            .thru (util .logout)
            .until (lifecycle (this))
            .observe (function (login) {
                if (login === undefined)
                    window .location .hash = '#home';
            });
	}
</script>