<model-themer>
    <button type="submit" name="as_participant">
        Participant services
    </button>
    <button type="submit" name="as_instructor" if={ (get_cache (backend_path + '/login') || {}) .as_instructor }>
        Instructor services
    </button>
    <button type="submit" name="as_administrator" if={ (get_cache (backend_path + '/login') || {}) .as_administrator }>
        Administrator services
    </button>
</model-themer>

<script>(function (self) {
    if (! (get_cache (backend_path + '/login') || {}) .id)
        window .location .hash = '#login';
    
    self .on ('mount', function () {
        var as_participant = self .root .querySelector ('button[name="as_participant"]');
        var as_instructor = self .root .querySelector ('button[name="as_instructor"]');
        var as_administrator = self .root .querySelector ('button[name="as_administrator"]');
        
        as_participant .addEventListener ('click', function () {
            window .location .hash = '#service/participant';
        });
        as_instructor && as_instructor .addEventListener ('click', function () {
            window .location .hash = '#service/instructor';
        });
        as_administrator && as_administrator .addEventListener ('click', function () {
            window .location .hash = '#service/administrator';
        });
    });
    
})(this);</script>
