<model-themer>
    <fieldset>
        <label>Component name:<input name="component_name" type="text" placeholder="Wow. Such sp."></label>
        <label>Component content:<textarea name="component_content" cols="40" rows="3" placeholder="So component" /></label>
    </fieldset>
    
    <button type="submit" name="add_component">
        Add component!
    </button>
</model-themer>

<script>
(function (self) {
    self .on ('mount', function () {
        var component_name = self .root .querySelector ('input[name="component_name"]');
        var component_content = self .root .querySelector ('textarea[name="component_content"]');
        var add_component = self .root .querySelector ('button[name="add_component"]');
        
        add_component .addEventListener ('click', function () {
            self .stuff .one ('new', function (response) {
                if (! response .error) {
                    //alert ('Component added')
                    window .location .hash = '#service/instructor/module/#' + self .recalls ('course_id') + '/' + self .recalls ('module_order')
                }
            })
            self .stuff .trigger ('new', {
                component_name: component_name .value,
                component_content: component_content .value
            });
        });
    });
})(this);
</script>
