<div class="bar background-translucent">
	<div class="nav-item">
		<span class="font-large icon-size text-icons a-inline-block">&#62628;</span>
	</div>
	<div class="nav-item">
		<div class="search-bar">
			<input class="match-me font-big background-shadowed" type="text">
		</div>
	</div>
</div>

<style>
	<%-tag%> .bar {
		position: relative;
	}
</style>