<layout-default>
    
	<h1 class="title">Participant Services</h1>
	
	<img class="participant-image" src="https://cdn4.iconfinder.com/data/icons/proglyphs-science-and-medicine/512/Education-512.png" alt="Let's get learning!">
    
	<h2 class="subtitle1">Please select what you desire to do.</h2>
    <table class="table">
        <tr><th>Courses I am enrolled in</th></tr>
        <tr each={ my ('my_courses', '.as_participant .enrolled_courses') }
            ><td><a href="#service/participant/my/course/#{ id }"><mark>{ name }</mark></a></td
        ></tr>
    </table>
    
    <table class="table">
        <tr><th>Courses I have completed</th></tr>
        <tr each={ my ('my_courses', '.as_participant .completed_courses') }
            ><td><a href="#service/participant/my/course/#{ id }"><strike>{ name }</strike></a></td
        ></tr>
    </table>
    
    <table class="table">
        <tr><th>Courses catalogue</th></tr>
        <tr each={ my ('all_courses', '.courses') }><td
            ><a href="#service/participant/course/#{ id }" if={ value (id) (piece (my ('my_courses', '.as_participant .enrolled_courses'))) } ><mark>{ name }</mark></a
            ><a href="#service/participant/course/#{ id }" if={ ! value (id) (piece (my ('my_courses', '.as_participant .enrolled_courses'))) && value (id) (piece (my ('my_courses', '.as_participant .completed_courses'))) } ><strike>{ name }</strike></a
            ><a href="#service/participant/course/#{ id }" if={ ! value (id) (piece (my ('my_courses', '.as_participant .enrolled_courses'))) && ! value (id) (piece (my ('my_courses', '.as_participant .completed_courses'))) } >{ name }</a
        ></td></tr>
    </table>
    
    
</layout-default>

<script>
(function (self) {
    most .periodic (500)
        .until (lifecycle (self))
        .thru (content .courses)
        .tap (display_errors)
        .observe (function (courses) {
            self .emit ('all_courses', courses);
        });
    most .periodic (500)
        .until (lifecycle (self))
        .thru (content .my_courses)
        .tap (display_errors)
        .observe (function (courses) {
            self .emit ('my_courses', courses);
        });
	
	
	remembers ({
	    all_courses: undefined,
	    my_courses: undefined
	}) (self);
	most .mergeArray ([
	    most .fromEvent ('all_courses', self),
	    most .fromEvent ('my_courses', self)
	]) .observe (function () {
        self .update ();
    });
})(this);
</script>

<style>
    .participant-image {
        height: 300px;
        position: relative;
        left: 32.5%;
    }
</style>
