<layout-default>
    
	<title>Participant Services</title>
    
	<div id="wrap">
	    <h1>
            Welcome Participant!
        </h1>
		<div id="content">
			<h2 style="margin:20px">Participant Services</h2>
			<p style="margin:20px">Please select what you desire to do.</p>
			        <table style="margin:20px">
                        <tr><th>Courses I am enrolled in</th></tr>
                        <tr each={ my ('my_courses', '.as_participant .enrolled_courses') }
                            ><td><a href="#service/participant/my/course/#{ id }"><mark>{ name }</mark></a></td
                        ></tr>
                    </table>
                    
                    <table style="margin:20px">
                        <tr><th>Courses I have completed</th></tr>
                        <tr each={ my ('my_courses', '.as_participant .completed_courses') }
                            ><td><a href="#service/participant/my/course/#{ id }"><strike>{ name }</strike></a></td
                        ></tr>
                    </table>
                    
                    <table style="margin:20px">
                        <tr><th>Courses catalogue</th></tr>
                        <tr each={ (my ('all_courses') || {}) .courses }><td
                            ><a href="#service/participant/course/#{ id }" if={ value (id) (piece (my ('my_courses', '.as_participant .enrolled_courses'))) } ><mark>{ name }</mark></a
                            ><a href="#service/participant/course/#{ id }" if={ ! value (id) piece (my ('my_courses', '.as_participant .enrolled_courses')) && value (id) (piece (my ('my_courses', '.as_participant .completed_courses'))) } ><strike>{ name }</strike></a
                            ><a href="#service/participant/course/#{ id }" if={ ! value (id) piece (my ('my_courses', '.as_participant .enrolled_courses')) && ! value (id) (piece (my ('my_courses', '.as_participant .completed_courses'))) } >{ name }</a
                        ></td></tr>
                    </table>
			
		</div>
    		<div style="clear: both;"> </div>
    	</div>
    
    
</layout-default>

<script>
(function (self) {
    most .periodic (500)
        .thru (content .courses)
        .tap (display_errors)
        .observe (function (courses) {
            self .emit ('all_courses', courses);
        });
    most .periodic (500)
        .thru (content .my_courses)
        .tap (display_errors)
        .observe (function (courses) {
            self .emit ('my_courses', courses);
        });
	
	
	remembers ({
	    all_courses: undefined,
	    my_courses: undefined
	}) (self);
	most .mergeArray ([
	    most .fromEvent ('all_courses', self),
	    most .fromEvent ('my_courses', self)
	]) .observe (function () {
        self .update ();
    });
})(this);
</script>

