<p class="control has-addons has-addons-centered">
    <input type="text" placeholder="Username" <%- ref ('username') %>>
</p>
<p class="control has-addons has-addons-centered">
    <input type="password" placeholder="Password" <%- ref ('password') %>>
</p>

<script>
    (function (self) {
        connects ({
            username: each_ref ('username'),
            password: each_ref ('password')
        }) (self);
        self .on ('username', function (username) {
            username .addEventListener ('input', function () {
                self .emit (opts .username__from, username .value);
            });
        });
        self .on ('password', function (password) {
            password .addEventListener ('input', function () {
                self .emit (opts .password__from, password .value);
            });
        });
    })(this);
</script>