<p class="control has-addons has-addons-centered">
    <input type="text" placeholder="Username" ref="__username" >
</p>
<p class="control has-addons has-addons-centered">
    <input type="password" placeholder="Password" ref="__password" >
</p>

<script>
    (function (self) {
        self .processes ({
            __username: ref,
            __password: ref
        }) .on ('__username', function (ref) {
            ref .consume (function () {
                self .emit (opts .username__from, ref .value);
            }, most .fromEvent ('input', ref));
        }) .on ('__password', function (ref) {
            ref .consume (function () {
                self .emit (opts .password__from, ref .value);
            }, most .fromEvent ('input', ref));
        });
    })(this);
</script>