<model-themer>
    
    <table>
        <tr><th>Courses created by me</th></tr>
        <tr each={ (recalls ('my-courses') || {}) .as_instructor }
            ><td><a href="#service/instructor/course/#{ id }">{ name }</a></td
		    ><td><button to="delete" id={ id }>x</button></td
		></tr>
    </table>
    
    <button type="submit" name="add_course">
        Add course
    </button>
</model-themer>

<script>
(function (self) {
    self .on ('mount', function () {
        var add_course = self .root .querySelector ('button[name="add_course"]');
        
        add_course .addEventListener ('click', function () {
            window .location .hash = '#service/instructor/course/add'
        });
        
        [] .forEach .call (self .root .querySelectorAll ('button[to="delete"]'), function (delete_course) {//log('hey');
            delete_course .addEventListener ('click', function () {//log('hi')
                var id = delete_course .getAttribute ('id');
                self .stuff .trigger ('delete', {
                    course_id: id
                });
            }, false);
        });
    });
    self .on ('updated', function () {//log('hoo');
        [] .forEach .call (self .root .querySelectorAll ('button[to="delete"]'), function (delete_course) {//log('hey');
            delete_course .addEventListener ('click', function () {//log('hi')
                var id = delete_course .getAttribute ('id');
                self .stuff .trigger ('delete', {
                    course_id: id
                });
            }, false);
        });
    });
    
    self .stuff .on ('my-courses', function () {
        self .update ();
    });
    
})(this);
</script>
