<model-themer>
    
    <table>
        <tr><th>Courses i am enrolled in</th></tr>
        <tr each={ ((recalls ('my-courses') || {}) .as_participant || {}) .enrolled_courses }><td><a href="#service/participant/my/course/#{ id }"><mark>{ name }</mark></a></td></tr>
    </table>
    
    <table>
        <tr><th>Courses completed</th></tr>
        <tr each={ ((recalls ('my-courses') || {}) .as_participant || {}) .completed_courses }><td><a href="#service/participant/my/course/#{ id }"><strike>{ name }</strike></a></td></tr>
    </table>
    
    <table>
        <tr><th>Courses catalogue</th></tr>
        <tr each={ (recalls ('all-courses') || {}) .courses }><td
            ><a href="#service/participant/course/#{ id }" if={ (piece (((recalls ('my-courses') || {}) .as_participant || {}) .enrolled_courses) || {}) [id] } ><mark>{ name }</mark></a
            ><a href="#service/participant/course/#{ id }" if={ ! (piece (((recalls ('my-courses') || {}) .as_participant || {}) .enrolled_courses) || {}) [id] && (piece (((recalls ('my-courses') || {}) .as_participant || {}) .completed_courses) || {}) [id] } ><strike>{ name }</strike></a
            ><a href="#service/participant/course/#{ id }" if={ ! (piece (((recalls ('my-courses') || {}) .as_participant || {}) .enrolled_courses) || {}) [id] && ! (piece (((recalls ('my-courses') || {}) .as_participant || {}) .completed_courses) || {}) [id] } >{ name }</a
        ></td></tr>
    </table>
    
</model-themer>

<script>
(function (self) {
    self .stuff .on ('all-courses', function () {
        self .update ();
    });
    self .stuff .on ('my-courses', function () {
        self .update ();
    });
})(this);
</script>
