<model-themer>
    <fieldset>
        <label>Module name:<input name="module_name" type="text" placeholder="Wow. Such module."></label>
    </fieldset>
    
    <button type="submit" name="add_module">
        Add module!
    </button>
</model-themer>

<script>
(function (self) {
    self .on ('mount', function () {
        var module_name = self .root .querySelector ('input[name="module_name"]');
        var add_module = self .root .querySelector ('button[name="add_module"]');
        
        add_module .addEventListener ('click', function () {
            self .stuff .one ('new', function (response) {
                if (! response .error) {
                    //alert ('Module added')
                    window .location .hash = '#service/instructor/course/#' + self .recalls ('course_id')
                }
            })
            self .stuff .trigger ('new', {
                module_name: module_name .value
            });
        });
    });
})(this);
</script>
