<layout-default>
    
    <div id="wrap">
        <div id="content">
            <h2>Add Module</h2><br/>
                <label style="margin:20px">Module name: </label><br/>
                <input name="module_name" type="text" style="width:400px; margin:20px">
                <br/>
            <button type="submit" name="add_module" style="margin:20px">
                Add module
            </button>
        </div>
        <div style="clear: both;"> </div>
	</div>
    
</layout-default>

<script>
(function (self) {
    self .on ('mount', function () {
        var module_name = self .root .querySelector ('input[name="module_name"]');
        var add_module = self .root .querySelector ('button[name="add_module"]');
        
        add_module .addEventListener ('click', function () {
            self .stuff .one ('new', function (response) {
                if (! response .error) {
                    //alert ('Module added')
                    window .location .hash = '#service/instructor/course/#' + self .recalls ('course_id')
                }
            })
            self .stuff .trigger ('new', {
                module_name: module_name .value
            });
        });
    });

    self .understands ('input');
    self .stuff .on ('input', function (course_id) {
        remembers ({
            course_id: course_id
        }) (self);
        
        util .module_new (course_id) (self);
        
	    display_errors ('new', self);
    });
})(this);
</script>

<style>
    #content{
        height:70%;
    }
</style>
