<layout-default>
    
    <div id="wrap">
        <div id="content">
            <h2>Add Module</h2><br/>
                <label style="margin:20px">Module name: </label><br/>
                <input ref="module_name" type="text" style="width:400px; margin:20px">
                <br/>
            <button type="submit" ref="add_module" style="margin:20px">
                Add module
            </button>
        </div>
        <div style="clear: both;"> </div>
	</div>
    
</layout-default>

<style>
    #content{
        height:70%;
    }
</style>

<script>
    (function (self) {
        var module_name = self .refs .module_name;
        var add_module = self .refs .add_module;
        
		
		remembers ({
			input:	function (args) {
						var course_id = args [0];
						
						most .fromEvent ('click', add_module)
							.map (function () {
								return	{
                                            module_name: module_name .value
										};
							})
							.thru (util .module_new (course_id))
							.tap (display_errors)
							.observe (function (response) {
								if (! response .error) {
									//alert ('Component added')
									window .location .hash = '#service/instructor/module/#' + course_id
								}
							});
					}
		});
    })(this);
</script>
