<layout-default>
    
        <h1 class="title">Add Module</h1><br/>
            <label style="margin:20px">Module name: </label><br/>
            <input type="text" style="width:400px; margin:20px" <%- ref ('__module_name') %>>
            <br/>
        <button class="localbutton button is-outlined is-info" type="submit" <%- ref ('__add_module') %>>
            Add module
        </button>
    
</layout-default>

<style>
    #content{
        height:70%;
    }
</style>

<script>
    (function (self) {
        self .remembers ('module_name');
		connects ({
			__module_name: each_ref ('__module_name')
		}) (self);
		self .on ('__module_name', function (module_name) {
		    module_name .addEventListener ('input', function () {
		        self .emit ('module_name', module_name .value);
		    });
		});
		
		
        self .remembers ('add_interest');
		connects ({
			__add_module: each_ref ('__add_module')
		}) (self);
		self .on ('__add_module', function (__add_module) {
		    __add_module .addEventListener ('click', function () {
		        self .emit ('add_interest');
		    });
		});
        
		
		self .remembers ('input');
		self .on ('input', function (args) {
    		var course_id = args [0];
    		
    		most .fromEvent ('add_interest', self)
    			.map (function () {
    				return	{
                                module_name: self .my ('module_name')
    						};
    			})
    			.thru (util .module_new (course_id))
    			.tap (display_errors)
    			.observe (function (response) {
    				if (! response .error) {
    					//alert ('Component added')
    					window .location .hash = '#service/instructor/module/#' + course_id + '/' + response .order
    				}
    			});
    	});
    })(this);
</script>
