

html {
    width: 100% !important;
    height: 100% !important;
}

body {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.border {
    border: 2px solid black;
}

.cursor-pointer {
    cursor: pointer;
}


.scroll {
    overflow-x: hidden;
    overflow-y: scroll !important;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.position-fixed {
    position: fixed !important;
}
.position-absolute {
    position: absolute !important;
}
.position-relative {
    position: relative !important;
}
.full-height {
    height: 100% !important;
}
.ninety-five-width {
    width: 95%;
}
.most-height {
    height: 80% !important;
}
.slider-box-height {
    height: 100px !important;
}
.little-height {
    height: 10% !important;
}
.most-width {
    width: 80% !important;
}
.full-width {
    width: 100% !important;
}
.no-frills {
    /*margin: 0 !important;*/
    padding: 0 !important;
}
.no-shock {
    margin: 0 !important;
}
.match-edge {
    position: absolute;
    height: auto;
    width: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-down {
    overflow: hidden;
}


.text-center {
    text-align: center;
}
.text-middle {
    vertical-align: middle;
}
.half-height {
    height: 50%;
}
.quarter-height {
    height: 25%;
}

.block-left {
    display: block;
    position: absolute;
    left: 0%;
    transform: translatex(0%);
    -webkit-transform: translatex(0%);
}
.block-center {
    display: block;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
}
.block-right {
    display: block;
    position: absolute;
    left: 100%;
    transform: translatex(-100%);
    -webkit-transform: translatex(-100%);
}
.block-top {
    display: block;
    position: absolute;
    top: 0%;
    transform: translatey(0%);
    -webkit-transform: translatey(0%);
}
.block-middle {
    display: block;
    position: absolute;
    top: 50% !important;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
}
.block-bottom {
    display: block;
    position: absolute;
    top: 100%;
    transform: translatey(-100%);
    -webkit-transform: translatey(-100%);
}
.block-left.block-top {
    top: 0%;
    left: 0%;
    transform: translatex(-0%) translatey(-0%);
    -webkit-transform: translatex(-0%) translatey(-0%);
}
.block-left.block-middle {
    top: 50%;
    left: 0%;
    transform: translatex(-0%) translatey(-50%);
    -webkit-transform: translatex(-0%) translatey(-50%);
}
.block-left.block-bottom {
    top: 100%;
    left: 0%;
    transform: translatex(-0%) translatey(-100%);
    -webkit-transform: translatex(-0%) translatey(-100%);
}
.block-center.block-top {
    top: 0%;
    left: 50%;
    transform: translatex(-50%) translatey(0%);
    -webkit-transform: translatex(-50%) translatey(0%);
}
.block-center.block-middle {
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    -webkit-transform: translatex(-50%) translatey(-50%);
}
.block-center.block-bottom {
    top: 100%;
    left: 50%;
    transform: translatex(-50%) translatey(-100%);
    -webkit-transform: translatex(-50%) translatey(-100%);
}
.block-right.block-top {
    top: 0%;
    left: 100%;
    transform: translatex(-100%) translatey(0%);
    -webkit-transform: translatex(-100%) translatey(0%);
}
.block-right.block-middle {
    top: 50%;
    left: 100%;
    transform: translatex(-100%) translatey(-50%);
    -webkit-transform: translatex(-100%) translatey(-50%);
}
.block-right.block-bottom {
    top: 100%;
    left: 100%;
    transform: translatex(-100%) translatey(-100%);
    -webkit-transform: translatex(-100%) translatey(-100%);
}

.nudge-up {
    padding-bottom: 20px;
}
.nudge-down {
    padding-top: 20px;
}
.nudge-left {
    padding-right: 20px;
}
.nudge-right {
    padding-left: 20px;
}
.nudge-up-more {
    padding-bottom: 40px;
}
.nudge-down-more {
    padding-top: 40px;
}
.nudge-left-more {
    padding-right: 40px;
}
.nudge-right-more {
    padding-left: 40px;
}


.under-half {
    top: 50%;
}
.under-bar-44 {
    top: 44px;
}
.under-bar-47 {
    top: 47px;
}
.above-bar-44 {
    bottom: 44px;
}
.above-bar-49 {
    bottom: 49px;
}

.under-bar-88 {
    top: 88px;
}


.match-me {/*== position-relative full-height full-width top-down*/
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
}


.font-large,.font-large:before,.font-large:after {
    font-size: 2em !important;
}
.font-big,.font-big:before,.font-big:after {
    font-size: 1.5em !important;
}
.font-somewhat-big,.font-somewhat-big:before,.font-somewhat-big:after {
    font-size: 1.45em !important;
}
.font-more,.font-more:before,.font-more:after {
    font-size: 1.4em !important;
}
.font-regular,.font-regular:before,.font-regular:after {
    font-size: 1.2em !important;
}
.font-small,.font-small:before,.font-small:after {
    font-size: 0.8em !important;
}
.font-tiny,.font-tiny:before,font-tiny:after {
    font-size: 0.2em;
    line-height: 0.2em;
}


.neutral-color {
    color: white;
}


.sixty-height {
    height: 60px;
}
.eighty-height {
    height: 80px;
}
.hundred-fifty-height {
    height: 150px;
}
.hundred-height {
    height: 100px;
}
.prized-asset {
    min-height: 260px;
    max-height: 100%;
}




.free-icon {
    min-width: none !important;
    min-height: none !important;
    max-width: none !important;
    max-height: none !important;
}
.free-icon:before,.free-icon:after {
    width: auto !important;
    height: auto !important;
}

.inline {
    display: inline;
}
.inline-center {
    text-align: center;
}
.inline-left {
    text-align: left;
}
.inline-right {
    text-align: right;
}
.inline-justify {
    text-align: justify;
}

.header-text {
    white-space: nowrap;
}


.invisible {
    visibility: none;
}






.top-layer {
    z-index: 999;
}
.bottom-layer {
    z-index: -999;
}

.lax {
    overflow: visible !important;
}

.higher {
    z-index: 1000;
}



.push-up {
    margin-top: -10px;
}


.area-0to100x0to30 {
    position: absolute;
    width: 100%;
	height: 30%;
	top: 0;
	left: 0;
}
.area-0to100x30to60 {
    position: absolute;
    width: 100%;
	height: 30%;
	top: 30%;
	left: 0;
}
.area-0to100x60to100 {
    position: absolute;
    width: 100%;
	height: 40%;
	top: 60%;
	left: 0;
}
.area-0to30x0to100 {
    position: absolute;
    width: 30%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-0to50x0to50 {
    position: absolute;
    width: 50%;
	height: 50%;
	top: 0;
	left: 0;
}
.area-50to85x0to50 {
    position: absolute;
    width: 35%;
	height: 50%;
	top: 0;
	left: 50%;
}
.area-0to60x50to100 {
    position: absolute;
    width: 60%;
	height: 50%;
	top: 50%;
	left: 0;
}
.area-0to20x0to100 {
    position: absolute;
    width: 20%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-20to100x0to100 {
    position: absolute;
    width: 80%;
	height: 100%;
	top: 0;
	left: 20%;
}
.area-0to100x0to50 {
    position: absolute;
    width: 100%;
	height: 50%;
	top: 0;
	left: 0;
}
.area-0to100x50to100 {
    position: absolute;
    width: 100%;
	height: 50%;
	top: 50%;
	left: 0;
}
.area-0to35x0to100 {
    position: absolute;
    width: 35%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-35to55x0to100 {
    position: absolute;
    width: 20%;
	height: 100%;
	top: 0;
	left: 35%;
}
.area-55to100x0to100 {
    position: absolute;
    width: 45%;
	height: 100%;
	top: 0;
	left: 55%;
}
.area-30to100x0to100 {
    position: absolute;
    width: 70%;
	height: 100%;
	top: 0;
	left: 30%;
}
.area-20to80x0to100 {
    position: absolute;
    width: 60%;
	height: 100%;
	top: 0;
	left: 20%;
}
.area-80to100x0to100 {
    position: absolute;
    width: 20%;
	height: 100%;
	top: 0;
	left: 80%;
}
.area-0to40x0to50 {
    position: absolute;
    width: 40%;
	height: 50%;
	top: 0;
	left: 0;
}
.area-40to60x0to50 {
    position: absolute;
    width: 20%;
	height: 50%;
	top: 0;
	left: 40%;
}
.area-60to100x0to50 {
    position: absolute;
    width: 40%;
	height: 50%;
	top: 0;
	left: 60%;
}
.area-0to100x50to100 {
    position: absolute;
    width: 100%;
	height: 50%;
	top: 50%;
	left: 0;
}
.area-0to50x0to100 {
    position: absolute;
    width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-50to100x0to100 {
    position: absolute;
    width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
}
.area-50to100x0to50 {
    position: absolute;
    width: 50%;
	height: 50%;
	top: 0;
	left: 50%;
}
.area-0to80x0to100 {
    position: absolute;
    width: 80%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-0to25x0to100 {
    position: absolute;
    width: 25%;
	height: 100%;
	top: 0;
	left: 0;
}
.area-25to100x0to100 {
    position: absolute;
    width: 75%;
	height: 100%;
	top: 0;
	left: 25%;
}
.area-0to100x0to60 {
    position: absolute;
    width: 100%;
	height: 60%;
	top: 0;
	left: 0;
}
.area-0to100x60to100 {
    position: absolute;
    width: 100%;
	height: 40%;
	top: 60%;
	left: 0;
}
.area-0to12x50to100 {
    position: absolute;
    width: 12%;
	height: 50%;
	top: 50%;
	left: 0;
}
.area-12to100x50to100 {
    position: absolute;
    width: 88%;
	height: 50%;
	top: 50%;
	left: 12%;
}
.paragraph-text {
	white-space: normal !important;
	word-break: break-all !important;
    word-wrap: break-word !important;
}

.fitting-size {
    max-height: 100%;
    max-width: 100%;
}

.text-icons {
    font-family: Ionicons, icomoon !important;
}

.minify-slight {
    -ms-transform: scale(0.99, 0.99); /* IE 9 */
    -webkit-transform: scale(0.99, 0.99); /* Safari */
    transform: scale(0.99, 0.99);
}
.minify-some {
    -ms-transform: scale(0.9, 0.9); /* IE 9 */
    -webkit-transform: scale(0.9, 0.9); /* Safari */
    transform: scale(0.9, 0.9);
}

.inset-more {
    padding: 15px;
}
.inset-some {
    padding: 10px;
}
.inset-little {
    padding: 5px;
}
.inset-slight {
    padding: 2px;
}

.outset-quite {
    margin: 20px;
}
.outset-little {
    margin: 5px;
}
.outset-some {
    margin: 10px;
}


.seventy-five-height {
    height: 75px;
}

.no-border {
    border: none !important;
}
.bold {
    font-weight: bold;
}

.background-black {
    background: black;
}

.list {
    will-change: scroll-position;
}

.background-texture::after {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: 0.1; 
    z-index: -1;
    background: url(../imgs/3d_soccer15.gif);
}

.background-transparent {
    background: transparent;
}

.background-shadowed {
    background: rgba(0,0,0,0.1);
}
.background-double-shadowed {
    background: rgba(0,0,0,0.2);
}
.background-translucent {
    background: rgba(0,0,0,0.03);
}

.icon-size {
    width: 1em;
    height: 1em;
    text-align: center;
}

.black-to-gray {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}




.a-block {
    display: block;
}
.a-inline-block {
    display: inline-block;
}

.square {
    padding-bottom: 100%;
}
.square > .match-edge {
    background-size: cover !important;
}

.page {
    margin: 0 !important;
}

.display-none {
    display: none;
}




.dashed {
    border: 1px #bbb dashed;
    border-radius: 5px;
}
		