<section>
    <article><yield></yield></article>
    <footer><button name="logout">Logout</button><button name="service">Services</button></footer>
</section>

<script>
(function (self) {
    util .logout (self);
    
    self .on ('mount', function () {
        var logout = self .root .querySelector ('button[name="logout"]');
        var service = self .root .querySelector ('button[name="service"]');
        logout .addEventListener ('click', function () {//debugger;
            self .stuff .one ('logout', function () {
                window .location .hash = '#login';
            });
            self .stuff .trigger ('logout');
        });
        service .addEventListener ('click', function () {//debugger;
            window .location .hash = '#service';
        });
    });
})(this);
</script>