<layout-primary>
	
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				
				<h1 class="title is-1">Log in.</h1>
				
				<component-loginner username__from="username" password__from="password" />
				
				<section class="section"></section>
				
				<button class="button is-large is-info" type="submit" <%- ref ('login') %>>
					Login
				</button>
				<button class="button is-large" type="submit" <%- ref ('register') %>>
					Register
				</button>
			</div>
		</div>
	</section>
</layout-primary>

<script>
	(function (self) {
		if (get_cache (backend_path + '/login') && ! get_cache (backend_path + '/login') .error) {
			window .location .hash = '#service'
		}
		
		check_out (backend_path + '/cats', { method: 'GET' }, ' { response } ');
		
		remembers ({
			username: undefined,
			password: undefined
		}) (self);
		
		
		connects ({
			login: each_ref ('login'),
			register: each_ref ('register')
		}) (self);
		self .on ('login',  function (login) {
			most .fromEvent ('click', login)
				.map (function () {
					return	{
								username: self .my ('username'),
								password: self .my ('password')
							}
				})
				.thru (util .login)
				.tap (display_errors)
				.observe (function (response) {
					if (response && ! response .error) {
						window .location .hash = '#service'
					}
				});
		});
		self .on ('register',  function (register) {
			most .fromEvent ('click', register)
				.map (function () {
					return	{
								username: self .my ('username'),
								password: self .my ('password')
							}
				})
				.thru (util .register)
				.tap (display_errors)
				.observe (function (response) {
					if (response && ! response .error) {
						alert ('Successfully registered!');
					}
				});
		});
	})(this);
</script>

