<layout-default>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Services</title>
    </head>
    
    <body>
	<div id="wrap">
	    <h1>
            Services
        </h1>
		<div id="content">
			<h2>Services Available</h2>
			<p>Please select the service you would like to use</p>
			<ul> 
			
			    <li>
			        <button type="submit" <%- ref ('as_participant') %> >
                        Participant services
                    </button>
			    </li> <br/>
			    <li>
			        <button type="submit" if={ value ('.as_instructor') (get_cache (backend_path + '/login')) } <%- ref ('as_instructor') %> >
                        Instructor services
                    </button>
			    </li> <br/>
			    <li>
			        <button type="submit" if={ value ('.as_administrator') (get_cache (backend_path + '/login')) } <%- ref ('as_administrator') %> >
                        Administrator services
                    </button>
			    </li> <br/>
            
            </ul>
		</div>
		<div id="sidebar">
			<h3>User Information</h3>
			<ul></ul>
		</div>
		<div style="clear: both;"> </div>
	</div>
</body>

</layout-default>

<script>
    (function (self) {
        if (! value ('.id') (get_cache (backend_path + '/login')) )
            window .location .hash = '#login';
        
        
        connnects ({
            as_participant: each_ref ('as_participant'),
            as_instructor: each_ref ('as_instructor'),
            as_administrator: each_ref ('as_administrator')
        }) (self);
        self .on ('as_participant', function (as_participant) {
            as_participant .addEventListener ('click', function () {
                window .location .hash = '#service/participant';
            });
        }); 
        self .on ('as_instructor', function (as_instructor) {
            as_instructor .addEventListener ('click', function () {
                window .location .hash = '#service/instructor';
            });
        }); 
        self .on ('as_administrator', function (as_administrator) {
            as_administrator .addEventListener ('click', function () {
                window .location .hash = '#service/administrator';
            });
        });
    })(this);
</script>
